#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [3]:
machine = pd.read_csv("ttest_machine.txt", sep = " ", header = 0)

In [4]:
machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [5]:
machine['Old_machine'].mean()

43.230000000000004

In [10]:
# H0 = average time in new machine >= average time in old machine
# H1 = average time in new machine < average time in old machine
st.ttest_1samp(machine['New_machine'],  machine['Old_machine'].mean())

TtestResult(statistic=-5.04331853503833, pvalue=0.0006966376076759026, df=9)

#### P value is low ==> Ho must go
the test gives evidence to reject the null hypothesis: average time between new and old machine are different, lower in the old machine

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [11]:
# Your code here:
pokemon = pd.read_csv("pokemon.txt", sep = ",", header = 0)

In [12]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [18]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    for feature in features:
        # Performing t-test for each feature
        t_statistic, p_value = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        # Storing the result in the dictionary
        results[feature] = {'t_statistic': t_statistic, 'p_value': p_value}

    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [20]:
# Your code here
# first creating the two samples
s1_leg = pokemon[pokemon['Legendary']== True]
s2_nleg = pokemon[pokemon['Legendary']== False]
#using the function
t_test_features(s1_leg, s2_nleg, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': {'t_statistic': 8.981370483625046, 'p_value': 1.0026911708035284e-13},
 'Attack': {'t_statistic': 10.438133539322203,
  'p_value': 2.5203724492366553e-16},
 'Defense': {'t_statistic': 7.637078164784618,
  'p_value': 4.8269984949193316e-11},
 'Sp. Atk': {'t_statistic': 13.417449984138461,
  'p_value': 1.5514614112239705e-21},
 'Sp. Def': {'t_statistic': 10.015696613114878,
  'p_value': 2.294932786405291e-15},
 'Speed': {'t_statistic': 11.47504444631443,
  'p_value': 1.0490163118824585e-18},
 'Total': {'t_statistic': 25.8335743895517, 'p_value': 9.357954335957446e-47}}

In [15]:
s2_nleg

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [16]:
s1_leg

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

- The tests provide evidence to reject the null hypothesis: we can reject that legendary and non-legendary pokemos have not significantly different stats on each features

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [20]:
# first creating the two samples
s1_gen = pokemon[pokemon['Generation']== 1]
s2_gen = pokemon[pokemon['Generation']== 2]
#using the function
t_test_features(s1_gen, s2_gen, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': {'t_statistic': -1.4609700002846653, 'p_value': 0.14551697834219632},
 'Attack': {'t_statistic': 1.1603052805533747, 'p_value': 0.24721958967217725},
 'Defense': {'t_statistic': -0.5724173235153119,
  'p_value': 0.5677711011725426},
 'Sp. Atk': {'t_statistic': 1.54608675231508, 'p_value': 0.12332165977104392},
 'Sp. Def': {'t_statistic': -1.3203746053318755,
  'p_value': 0.18829872292645758},
 'Speed': {'t_statistic': 3.069594374071931, 'p_value': 0.0023926593731213508},
 'Total': {'t_statistic': 0.579073329450271, 'p_value': 0.5631377907941676}}

#### What conclusions can you make?

- For features HP, attack, Defense, Sp. Atk, Sp. Deg and total, we cannot reject the null hypothesis, i.e. there is evidence that there are no differences between pokemon generation 1 and generation 2 for these features.
- For feature Speed, there is evidence to reject the null hypothesis: we can reject the hypothesis that there are no differences in Speed between these two types of pokemon.

#### Compare pokemons who have single type vs those having two types.

In [26]:
# Your code here
s1_1type = pokemon[pd.isnull(pokemon['Type 2'])]
s2_2type = pokemon[pd.notnull(pokemon['Type 2'])]
#using the function
t_test_features(s1_1type, s2_2type, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': {'t_statistic': -1.586088850338319, 'p_value': 0.11314389855379418},
 'Attack': {'t_statistic': -3.810556219950897,
  'p_value': 0.00014932578145948305},
 'Defense': {'t_statistic': -5.60979416640793,
  'p_value': 2.797854041151469e-08},
 'Sp. Atk': {'t_statistic': -3.828976815384819,
  'p_value': 0.00013876216585667901},
 'Sp. Def': {'t_statistic': -3.892991138685155,
  'p_value': 0.00010730610934512777},
 'Speed': {'t_statistic': -2.258014040079978, 'p_value': 0.024217032818190928},
 'Total': {'t_statistic': -5.355678438759113,
  'p_value': 1.1157056505229961e-07}}

#### What conclusions can you make?

- The tests provide evidence to reject the null hypothesis for the features: Attach, Defense, Sp. Atk, Sp. Def, Speed and Total. That means that we reject the hypothesis that there are no differences in these features for pokemos who have single type vs. those having two types.
- For feature HP, however, the test provides evidence for not rejecting the hypothesis that there are differences between the two types of pokemon.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [27]:
#Attack vs Defense
#Ho: there are no differences between the mean of attack and the mean of defense
#H1: there are differences between the two means
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [28]:
#Sp. Atk vs Sp. Def
#Ho: there are no differences between the mean of Sp. Atk and the mean of Sp. Def
#H1: there are differences between the two means
st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

#### What conclusions can you make?

- From the first test, there is evidence to reject the null hypothesis, that is that we can reject that there are no differences between the mean of attack and the mean of defense.
- From the second test, however, there is evidence not to reject the null hypothesis, that is that we cannot rejct that there are no differences between the mean of Sp. Atk and the mean of Sp. Def.